<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">  <!--引入Bootstrap.css下载地址-->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/css/skin-blue.min.css">

    <script src="/static/js/jquery.min.js"></script>             <!--启用jquery.js -->
    <script src="/static/js/bootstrap.min.js"></script>          <!--启用bootstrap.js -->
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/fastclick.js"></script>
    <script src="/static/js/app.min.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/static/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/static/js/jquery.slimscroll.min.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/demo.js"></script>
</head>

<body>
    {% block content %}{% endblock %} <!--块保护-->
</body>
</html>